<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BookMapper">

    <resultMap id="BaseResultMap" type="entity.library.Book">
        <id column="book_id" property="bookId"/>
        <result column="title" property="title"/>
        <result column="author" property="author"/>
        <result column="publisher" property="publisher"/>
        <result column="isbn" property="isbn"/>
        <result column="category_id" property="categoryId"/>
        <result column="total_copies" property="totalCopies"/>
        <result column="available_copies" property="availableCopies"/>
    </resultMap>

    <select id="findBooksByCriteria" resultMap="BaseResultMap">
        SELECT * FROM books
        <where>
            <if test="title != null and title != ''">
                AND title LIKE ('%' || #{title} || '%')
            </if>
            <if test="author != null and author != ''">
                AND author LIKE ('%' || #{author} || '%')
            </if>
            <if test="publisher != null and publisher != ''">
                AND publisher LIKE ('%' || #{publisher} || '%')
            </if>
            <if test="categoryId != null and categoryId > 0">
                AND category_id = #{categoryId}
            </if>
        </where>
        ORDER BY book_id
    </select>

    <select id="findBookById" resultMap="BaseResultMap">
        SELECT * FROM books WHERE book_id = #{bookId}
    </select>

    <insert id="insertBook" parameterType="entity.library.Book" useGeneratedKeys="true" keyProperty="bookId">
        INSERT INTO books (title, author, publisher, isbn, category_id, total_copies, available_copies)
        VALUES (#{title}, #{author}, #{publisher}, #{isbn}, #{categoryId}, #{totalCopies}, #{availableCopies})
    </insert>

    <update id="updateBook" parameterType="entity.library.Book">
        UPDATE books
        SET
            title = #{title},
            author = #{author},
            publisher = #{publisher},
            isbn = #{isbn},
            category_id = #{categoryId}
        WHERE book_id = #{bookId}
    </update>

    <update id="updateAvailableCopies">
        UPDATE books
        SET available_copies = available_copies + #{delta}
        WHERE book_id = #{bookId}
    </update>

</mapper>