<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CourseMapper">
    <insert id="insert" parameterType="entity.Course">
        INSERT INTO courses (course_id, course_name, apply_grade, apply_major, max_capacity, current_num, class_time, status)
        VALUES (#{courseId}, #{courseName}, #{applyGrade}, #{applyMajor}, #{maxCapacity}, #{currentNum}, #{classTime}, #{status})
    </insert>
    <update id="updateCurrentNum">
        UPDATE courses
        SET current_num = current_num + #{currentNum}
        WHERE course_id = #{courseId}
    </update>
    <update id="update" parameterType="entity.Course">
        UPDATE courses
        <set>
            <if test="course_name != 0"> course_name = #{courseName},</if>
            <if test="apply_grade != null"> apply_grade = #{applyGrade},</if>
            <if test="apply_major != null"> apply_major = #{applyMajor},</if>
            <if test="max_capacity != null"> max_capacity = #{maxCapacity},</if>
            <if test="current_num != null"> current_num = #{currentNum},</if>
            <if test="class_time != null"> class_time = #{classTime},</if>
            <if test="status != null"> status = #{status},</if>
        </set>
        WHERE course_id = #{courseId}
    </update>
    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM courses course_id = #{courseId}
    </delete>

    <select id="findById" resultType="entity.Course">
        SELECT * FROM courses WHERE course_id = #{courseId}
    </select>
    <select id="findByIdForUpdate" resultType="entity.Course">
        SELECT * FROM courses WHERE course_id = #{courseId} FOR UPDATE
    </select>
    <select id="findAvailableCourses" resultType="entity.Course">
        SELECT * FROM courses WHERE apply_grade = #{applyGrade} AND apply_major = #{applyMajor}
    </select>
</mapper>