<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ElectiveTimeMapper">
    <insert id="insert" parameterType="entity.ElectiveTime">
        INSERT INTO elective_times (start_time, end_time, mode)
        VALUES (#{startTime}, #{endTime}, #{mode})
    </insert>

    <!--
    接口: ElectiveTime findCurrent();

    这个查询的业务含义是获取当前生效的配置。我们默认最新的配置是生效的
    所以我们用LIMIT 1来确保只返回一条。
    -->
    <select id="findCurrent" resultType="entity.ElectiveTime">
        SELECT * FROM elective_times
        ORDER BY
        time_id DESC
        LIMIT 1
    </select>


    <!--
        接口: int update(ElectiveTime electiveTime);

        根据传入的ElectiveTime对象的主键(timeId)来更新所有相关字段。
        update_time字段我们使用数据库的CURRENT_TIMESTAMP来自动更新，确保时间的准确性。
    -->
    <update id="update" parameterType="entity.ElectiveTime">
        UPDATE elective_times
        SET
        start_time = #{startTime},
        end_time = #{endTime},
        mode = #{mode},
        update_time = CURRENT_TIMESTAMP
        WHERE time_id = #{timeId}
    </update>
</mapper>