<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OrderMapper">
    <insert id="insert" parameterType="entity.Order">
        INSERT INTO orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            user_id,
            total_amount,
            <if test="status != null">status,</if>
            create_time
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{userId},
            #{totalAmount},
            <if test="status != null">#{status},</if>
            #{createTime}
        </trim>
    </insert>

    <update id="updateStatus">
        UPDATE order SET status = #{status} WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM orders WHERE id = #{id}
    </delete>
    <select id="findById" resultType="entity.Order">
        SELECT * FROM orders WHERE id = #{id}
    </select>
    <select id="findByUser" resultType="entity.Order">
        SELECT * FROM orders WHERE user_id = #{userId}
    </select>
    <select id="findAll" resultType="entity.Order">
        SELECT * FROM orders
    </select>
</mapper>