<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.TransactionMapper">
    <insert id="insert" parameterType="entity.Transaction">
        INSERT INTO transactions
        <trim prefix="(" suffix=")" suffixOverrides=",">
            from_account_id,
            to_account_id,
            amount,
            type
            <if test="memo != null">, memo</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{fromAccountId},
            #{toAccountId},
            #{amount},
            #{type},
            <if test="memo != null">#{memo}</if>
        </trim>
    </insert>
    <select id="findByAccountIdAndTime" resultType="entity.Transaction">
        SELECT
        transaction_id, from_account_id, to_account_id, amount, type, timestamp, memo
        FROM
        transactions
        <where>
            (from_account_id = #{accountId} OR to_account_id = #{accountId})
            <if test="start != null">
                AND timestamp >= #{start}
            </if>
            <if test="end != null">
                AND timestamp &lt;= #{end}
            </if>
        </where>
        ORDER BY
        timestamp DESC
    </select>
</mapper>